.Time
{
    color: white;
    margin-left: 43%;
}
.name
{
    color: white;

}.Logout
{
    color: white;
    margin-left: 44%;
}
.div1
{
  background-color: green;
 margin-top: 7px;
 padding-top: 10px;
 

}